! Xft.dpi: 196

! -------------------------------------------------------------
! URxvt Color Theme Start
! -------------------------------------------------------------

*.background: #171717
*.foreground: #A8A8A8

!black
*color0: #383c4a
*color8: #404552

!red
*color1: #9A4138
*color9: #E7766B

!green
*color2: #4BEC90
*color10: #3CBF75

!yellow
*color3: #D8D782
*color11: #CFCD63

!blue
*color4: #5294e2
*color12: #579CEF

!magenta
*color5: #CE50DD
*color13: #E7766B

!cyan
*color6: #6BE5E7
*color14: #90FDFF

!white
*color7: #CCCCCC
*color15: #FFFFFF

URxvt.font: xft:terminus:size=12, xft:WenQuanYi Bitmap Song:size=12
URxvt.boldFont: xft:terminus:size=12, xft:WenQuanYi Bitmap Song:size=12

! -------------------------------------------------------------
! URxvt Color Theme End
! -------------------------------------------------------------

! URxvt.scrollstyle: xterm
URxvt.scrollBar: false

URxvt.perl-ext-common: default,resize-font,clipboard,url-select,keyboard-select

!! Quick commands, dont rely on alias or any setup on the remote server.
URxvt.keysym.M-h:         ls -lhb --color=auto\n
URxvt.keysym.C-M-g:       grep --color=auto -r --include \\*.
URxvt.keysym.C-M-p:       ps aux|grep --color=auto ""
URxvt.keysym.C-M-w:       find . -name ""
URxvt.keysym.C-M-n:       netstat -tulpn|grep --color=auto ""
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger

!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up

!! Common Keybinds
URxvt.keysym.Shift-Up:      command:\033]720;1\007
URxvt.keysym.Shift-Down:    command:\033]721;1\007
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
