! -------------------------------------------------------------
! URxvt
! install rxvt-unicode, urxvt-clipboard(AUR)
! -------------------------------------------------------------

*.background: #171717
*.foreground: #A8A8A8

!black
*color0: #383c4a
*color8: #404552

!red
*color1: #9A4138
*color9: #E7766B

!green
*color2: #4BEC90
*color10: #3CBF75

!yellow
*color3: #D8D782
*color11: #CFCD63

!blue
*color4: #5294e2
*color12: #579CEF

!magenta
*color5: #CE50DD
*color13: #E7766B

!cyan
*color6: #6BE5E7
*color14: #90FDFF

!white
*color7: #CCCCCC
*color15: #FFFFFF

URxvt.termName: xterm-256color

URxvt.font: xft:VGA:size=14, xft:WenQuanYi WenQuanYi Bitmap Song:size=12
URxvt.boldFont: xft:VGA:size=14, xft:WenQuanYi WenQuanYi Bitmap Song:size=12

URxvt.scrollstyle: xterm
URxvt.scrollBar: false

URxvt.perl-ext-common: clipboard

!! Quick commands, dont rely on alias or any setup on the remote server.
URxvt.keysym.M-h:         ls -lhb --color=auto\n
URxvt.keysym.C-M-g:       grep --color=auto -r --include \\*.
URxvt.keysym.C-M-p:       ps aux|grep --color=auto ""
URxvt.keysym.C-M-w:       find . -name ""
URxvt.keysym.C-M-n:       netstat -tulpn|grep --color=auto ""
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! -------------------------------------------------------------
! XTerm
! -------------------------------------------------------------

! xterm*faceName: VGA
xterm*faceName: VGA
xterm*faceNameDoublesize: WenQuanYi WenQuanYi Bitmap Song
! xterm*faceNameDoublesize: unifont
xterm*faceSize: 15
xterm*faceDoublesize: 14
XTerm*allowBoldFonts: false

xterm*VT100.Translations: #override \
    Alt <Key>H: string("ls -lhb --color=auto \n") \n\
    Ctrl Alt <Key>G: string("ps aux|grep --color=auto \"\"") \n\
    Ctrl Alt <Key>P: string("find . -name \"\"") \n\
    Ctrl Alt <Key>W: string("netstat -tulpn|grep --color=auto \"\"") \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Shift <Key>Up: scroll-back(1, lines) \n\
    Shift <Key>Down: scroll-forw(1, lines)

! Use Alt as Meta
xterm*metaSendsEscape: true
xterm*termName: xterm-256color
xterm*openIm: false

xterm.vt100.locale: false
xterm.vt100.utf8: true
xterm.vt100.saveLines: 4096

xterm*pointerShape: arrow
xterm*pointerColor: red
xterm*cursorColor: red
