configuration {
 modi: "window,drun,ssh,combi";
 theme: "/usr/share/rofi/themes/Arc-Dark.rasi";
 font: "LXGW WenKai 22";
 combi-modi: "window,drun,ssh";
}
@import "/usr/share/rofi/themes/Arc-Dark.rasi"
